{% extends 'website/base.html' %}
{% load static %}
    
    {% block main %}

      <div class="row">
        <p>{{mensagem}}</p>
      </div>


        <div class="row row-space">
           
            <div class="col-6">
                <form method="POST">
                  {% csrf_token %}
                    <div class="form-row">
                      <div class="form-group col-md-12">
                        <label for="inputEmail4">Email</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="Email" name="email">
                      </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputAddress">Nome</label>
                            <input type="text" class="form-control" id="inputAddress" placeholder="Seu nome aqui" name="nome">
                          </div>
                        
                        <div class="form-group col-md-6">
                            <label for="inputAddress">Sobrenome</label>
                            <input type="text" class="form-control" id="inputAddress" placeholder="Sobrenome aqui" name="sobrenome">
                        </div>
                    
                    </div>
                   
                    <div class="form-group">
                      <label for="inputAddress">Endereço</label>
                      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" name="endereco">
                    </div>
                    <div class="form-group">
                        <textarea  id="" cols="65" rows="10" class="form-control" name="mensagem"></textarea>

                    </div>
                      
                    
                    <button type="submit" class="btn btn-primary">Sign in</button>
                  </form>
            </div>

            <div class="col-6">
                <p >

                    Mussum Ipsum, cacilds vidis litro abertis. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
                    Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo! Suco de cevadiss deixa as pessoas mais interessantis.
                    Aenean aliquam molestie leo, vitae iaculis nisl.
                    Viva Forevis aptent taciti sociosqu ad litora torquent. 
                    In elementis mé pra quem é amistosis quis leo. Admodum accumsan disputationi eu sit. 
                    Vide electram sadipscing et per. Per aumento de cachacis, eu reclamis. 
                
                </p>

            </div>

        </div>
    {%endblock main%}

    