{% extends 'website/base.html' %}
{% load static %}
    
    {% block main %}
        <div class="row-space">
            <div class="col-12">
                <p >

                    Mussum Ipsum, cacilds vidis litro abertis. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
                    Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo! Suco de cevadiss deixa as pessoas mais interessantis.
                    Aenean aliquam molestie leo, vitae iaculis nisl.
                    Viva Forevis aptent taciti sociosqu ad litora torquent. 
                    In elementis mé pra quem é amistosis quis leo. Admodum accumsan disputationi eu sit. 
                    Vide electram sadipscing et per. Per aumento de cachacis, eu reclamis. 
                
                </p>

            </div>

        </div>

        <div class="row row-space">
            <div class="col-6">
                <img src="{% static 'img/logo2.jpeg' %}" alt="">

            </div>
            <div class="col-6">
                <img src="{% static 'img/logo2.jpeg' %}" alt="">

            </div>
        </div>

    {%endblock main%}

    