{% extends 'base.html' %}

{% block menu %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
        <a class="nav-link" href="/sistema">Home</a>
        </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Serviços</a>
        <div class="dropdown-menu">
            <a class="dropdown-item active" href="/sistema/pessoas">Pessoas</a>
            <a class="dropdown-item" href="/sistema/veiculos">Veiculos</a>
            <a class="dropdown-item" href="/sistema/mov-rot">Rotativo</a>
            <a class="dropdown-item" href="/sistema/mensalistas">Mensalista</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
        </div>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link disabled" href="">Ola,{{user}}</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link " href="{% url 'login' %}">Login</a>
            </li>
        {% endif %}
    </ul>
{% endblock menu %}


{% block main %}
    
<br>
<br>


<div class="row">
    <div class="col-sm-6">
        <form action="{% url 'core_pessoas_novo' %}" method="POST">
            {% csrf_token %}
        
            {{form.as_p}}
        
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        
        </form>
    </div>


    <div class="col-sm-6">
        <h2>Lista Pessoas</h2>


        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Endereço</th>
                <th scope="col">Telefone</th>
              </tr>
            </thead>
            <tbody>
                
                {% for pessoa in pessoas %}
                    <tr>
                        <th scope="row">{{pessoa.id}}</th>
                        <td>{{pessoa.nome}}</td>
                        <td>{{pessoa.endereco}}</td>
                        <td>{{pessoa.telefone}}</td>
                    </tr>
                {% endfor %}
                    
             
            </tbody>
        </table>
    </div>


</div>
    




{% endblock main %}